.login-button {
    background-color: #1db954;
    color: black;
}

.login-img {
    font-size: 250px;
    color: #1db954;
}

.login-header {
    font-size: 75px;
    color: azure;
}

.playlist-header {
    font-size: 75px;
    color: azure;
}

.p-table {
    background-color: #B8C5D6;
}

.table-sub {
    background-color: #1db954;
    color: azure;
}

.playlist-button {
    color: azure;
}

.song-list-item {
    background-color: #272D2D;
    color: azure;
}

.rating-text {
    color: azure;
    font-size: 25px;
}

.table-button {
    font-size: 15px;
    background-color: #1db954;
    color: black;
}

.select-form {
    background-color: dimgray;
    color: azure;
}

.table-card {
    background-color: #272D2D;
}
