.login-button {
    background-color: #1db954;
    color: black;
}

.login-img {
    font-size: 250px;
    color: #1db954;
}

.login-header {
    font-size: 75px;
    color: azure;
}

.playlist-header {
    font-size: 75px;
    color: azure;
}

.p-table {
    background-color: cadetblue;
}

.table-sub {
    background-color: #1db954;
}

.playlist-button {
    color: azure;
}

.song-list-item {
    color: azure;
}

.rating-text {
    color: azure;
    font-size: 25px;
}

.add-button {
    font-size: 35px;
    background-color: #1db954;
    color: black;
}
